.header{
    background: url(../../assets/headerBG.png) no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
    height: 140px;
    padding-top: 7%
}
.sectionTitle{
    color: #2B3674;
    font-size: 16px;
}
.sections{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
    margin-top: 3%;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FE;
    border-radius: 20px;
    margin: 5px;
    height: 50px;
    width: 50%;
}
.section.active {
    background-color: #1B2559; /* Цвет для активной секции */
  }
  .section.active .sectionTitle {
   color: #FAFCFE; /* Цвет для активной секции */
  }
  .cardsContainer {
    overflow-y: auto; /* Включите вертикальную прокрутку */
  }